*,
html {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #5865F2;
}

.center {
    width: 100%;
    height: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-size: 50px;
}
input[type=number] {
width: 255px;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
font-size: 16px;
background-color: white;
background-position: 10px 10px; 
background-repeat: no-repeat;
padding: 12px 20px 12px 40px;
}

.btstyle {
background-color: #454fc4; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

f {
    font-size: 32px;
}

m {
  font-size: 32px;
}